# Data
backend/data/
semeval2023task3bundle-v4/

# Model checkpoints
backend/model/checkpoints/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/
*.egg

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
